* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #333;
  font-size: 16pt;
}

input {
  font-size: 16pt;
}

#current-number-or-name {
  font-size: 24pt;
  text-align: center;
  width: 100%;
  border: 1px #999 solid;
  color: #333;
  font-weight: bold;
  margin: 0;
  border-radius: 0;
  appearance: none;
}

#current-number-or-name.guessed {
  color: #999;
}

.container button {
  font-size: 24pt;
  width: 100%;
  height: 100%;
  border: 1px #999 solid;
  background: #eee;
  color: #333;
  font-weight: bold;
  padding: 0;
}

.container button.requires-start,
.container button.requires-start#done,
.container button.requires-start#clear {
  background: #999;
  pointer-events: none;
}

.container.started button.requires-start {
  background: #eee;
  pointer-events: unset;
}

.container.started button.requires-start#done {
  background: #aec6cf;
  pointer-events: unset;
}

.container.started button.requires-start#clear {
  background: #faa0a0;
  pointer-events: unset;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  align-items: stretch;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.container.started .append.requires-start {
  background: #c1e1c1;
}

.info {
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 16pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-icon {
  height: 32px;
  width: 32px;
  stroke-width: 5px;
  color: #333;
}

.button-icon {
  stroke-width: 5px;
}

#settings,
#note-writer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background: #fff;
  z-index: 5;
  display: none;
}

#note-writer {
  padding: 5px;
}

#close-settings,
#close-note-writer {
  width: 100%;
  height: 30px;
}

h4,
p {
  margin-top: 2px;
  margin-bottom: 2px;
}

#history {
  margin: 0;
  padding: 0;
  list-style: none;
}

#note-content {
  height: 100%;
}

#note-writer {
  flex-direction: column;
}

#settings {
  font-size: 14pt;
}

.setting-category {
  background: #ccc;
  margin-bottom: 10px;
}

.setting-category__heading {
  padding: 5px;
  font-size: 14pt;
  margin: 0;
}

.setting-category__info {
  font-weight: 400;
  font-size: 12pt;
}

.setting {
  background: #fff;
  padding: 5px;
  border-bottom: 1px solid #000;
}

.setting-input {
  width: 100%;
  font-size: 14pt;
}

.setting-button {
  font-size: 14pt;
}

.setting-list__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.setting-list__input {
  width: 100%;
  margin-left: 5px;
}

.setting-list__add {
  width: 100%;
  height: 30px;
}

.status--good {
  color: green;
}

.status--bad {
  color: red;
}
